body{
    font-family: 'nunito';
    margin: 0;
}
#main-container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

#items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
}

svg{
    width: 30px;
}

#items-banner .icons {
    position: relative;
}
  
#items-banner .icons span {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: mistyrose;
    justify-content: center;
    color: brown;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: -20px;
  }

  #shopping-items img{
    width:90%;
    border-radius: 10px;
  }

  #shopping-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  
  
  
 